// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// Variables
@import 'partials/variables';
@import 'partials/utilities';

* {
    color: $pf-light;
}

body {
    background-color: $pf-dark;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $pf-light;
    -webkit-box-shadow: 0 0 0px 1000px $pf-dark inset;
    transition: background-color 5000s ease-in-out 0s;
}

.nav-link:hover {
    color: $pf-primary;
    filter: brightness(140%);
}

.dropdown-menu {
    background-color: $pf-dark;

    .dropdown-item {
        color: $pf-light;

        &:hover {
            background-color: $pf-dark;
        }
    }
}

.dashboard_box {
    padding: 1rem;
    border: 1px solid $pf-primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    border-radius: 0;
    border: 1px solid $pf-primary;
    background-color: transparent;
    color: $pf-light;

    .card-img-bottom {
        border-radius: 0;
    }
}

.btn_primary {
    border: 1px solid $pf-primary;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: $pf-dark;
    color: $pf-light;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $pf-light;
        color: $pf-dark;
    }

    &:hover svg {
        background-color: $pf-light;
        fill: $pf-dark;
    }
}

.btn_danger {
    border: 1px solid $pf-primary;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: $pf-dark;
    color: $pf-light;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $pf-danger;
        color: $pf-light;
    }

    &:hover svg {
        background-color: transparent;
        fill: $pf-light;
    }
}

.btn_success {
    border: 1px solid $pf-primary;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: $pf-dark;
    color: $pf-light;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $pf-success;
        color: $pf-light;
    }

    &:hover svg {
        background-color: transparent;
        fill: $pf-light;
    }
}

.table {
    --bs-table-color: var(--bs-emphasis-color);
    --bs-table-bg: $pf-dark;
    --bs-table-border-color: $pf-primary;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-emphasis-color);
    --bs-table-striped-bg: rgba(var(--bs-emphasis-color-rgb), 0.05);
    --bs-table-active-color: var(--bs-emphasis-color);
    --bs-table-active-bg: rgba(var(--bs-emphasis-color-rgb), 0.1);
    --bs-table-hover-color: var(--bs-emphasis-color);
    --bs-table-hover-bg: rgba(var(--bs-emphasis-color-rgb), 0.075);
    border-color: $pf-primary;

    &> :not(caption)>*>* {
        color: $pf-light;
    }

    .project_cover_image {
        width: 200px;
        aspect-ratio: 16/9;
        object-fit: cover;
        object-position: center;
    }
}

.pagination {
    --bs-pagination-color: $pf-primary;
    --bs-pagination-bg: $pf-dark;
    --bs-pagination-border-color: $pf-primary;
    --bs-pagination-hover-border-color: $pf-primary;
    --bs-pagination-focus-color: $pf-primary;
    --bs-pagination-focus-bg: $pf-primary;
    --bs-pagination-active-color: $pf-light;
    --bs-pagination-active-bg: $pf-primary;
    --bs-pagination-active-border-color: $pf-primary;
    --bs-pagination-border-radius: 0;
    margin: 0;
    border-radius: 0;

    & .page-item {

        &.active {
            background-color: $pf-primary;

            & .page-link {
                color: $pf-light;
            }
        }

        & .page-link {
            color: $pf-primary;
            border: var(--bs-pagination-border-width) solid $pf-primary;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    & p.small.text-muted {
        display: none;
    }
}

.form-floating {

    label {
        padding: .5rem;
        transition: all .1s ease;
    }

    .form-select {
        background-color: transparent;
        color: $pf-light;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $pf-light;
        font-size: .8rem;

        &~label {
            color: $pf-light;
            font-size: .8rem;

            &::after {
                background-color: $pf-dark;
            }
        }


        &:focus {
            box-shadow: 0 0 20px 0rem $pf-primary;
            border-radius: var(--bs-border-radius);

            &~label {
                color: $pf-light;
                padding: 1rem .75rem;
                transition: all .1s ease;

                &::after {
                    background-color: $pf-dark;
                }
            }

            &>option {
                background-color: $pf-dark;
                color: $pf-light;
            }

        }
    }

    .form-control {
        color: $pf-light;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $pf-light;

        &:not(:placeholder-shown) {
            &~label {
                color: $pf-light;
                padding: 1rem .75rem;
                transition: all .1s ease;

                &::after {
                    background-color: $pf-dark;
                }
            }
        }

        &:focus {
            box-shadow: 0 0 20px 0rem $pf-primary;
            border-radius: var(--bs-border-radius);

            &~label {
                color: $pf-light;
                padding: 1rem .75rem;
                transition: all .1s ease;

                &::after {
                    background-color: $pf-dark;
                }
            }
        }
    }

    .form-check-input {
        border-radius: 0;
        border-color: $pf-primary;
        background-color: $pf-dark;

        &:focus {
            box-shadow: 0 0 .5rem 0.1rem $pf-primary;
        }
    }

}

.form-floating input[type=file].form-control::file-selector-button {
    background-color: $pf-dark;
    color: $pf-light;
    border: 1px solid transparent;
}

.form-floating input[type=file].form-control:hover::file-selector-button {
    background-color: $pf-light;
    color: $pf-dark;
    border: 1px solid $pf-primary;
}

.alert {
    strong {
        color: $pf-dark;
    }

    ul {
        li {
            color: $pf-dark;
        }
    }
}

.modal-content {
    color: $pf-light;
    background-color: $pf-dark;
    border: 1px solid $pf-primary;
    border-radius: 0;

    &>* {
        border-color: $pf-primary;
    }
}